$primary_1: #76453B;
$primary_2: #F8FAE5;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root{
  width: 100%;
  height: 100%;
  font-family: "Playfair Display", serif;
}
h2{
  font-size: 3em;
  margin: 0;
}
h3{
  font-family: "Playfair Display", serif;
  font-size: 2em;
  margin: 0;
}

p, li{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  margin: 0;
}

ul, ol{
  margin: 0;
}

.header{
  background-color: $primary_1;
  padding: 0;
  margin: 0;
}
.body{
  padding: 1%;
}
#title{
  color: $primary_2;
  margin: 0;
  padding: 1%;
  font-size: 4em;
  text-align: center;
}
.footer{
  background-color: $primary_1;
}
#copyrightText{
  margin: 0;
  padding: 1%;
  color: $primary_2;
}