$primary_1: #76453B;
$primary_2: #F8FAE5;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root{
  width: 100%;
  height: 100%;
  font-family: "Playfair Display", serif;
}

h3{
  font-family: "Playfair Display", serif;
}

p, li{
  font-family: "Source Sans Pro", sans-serif;
}

.header{
  background-color: $primary_1;
  padding: 0;
  margin: 0;
}
#title{
  color: $primary_2;
  margin: 0;
  padding: 1%;
  text-align: center;
}
.footer{
  background-color: $primary_1;
}
#copyrightText{
  margin: 0;
  padding: 1%;
  color: $primary_2;
}